/* Reset some default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for the header strip */
.header-strip {
    background-color: #ffffff; /* White background */
    padding: 20px 0; /* Padding for top and bottom */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    width: 100%; /* Make the header strip full width */
}

/* Container to center content and limit width */
.container {
    max-width: 1200px; /* Adjust maximum width as needed */
    margin: 0 auto; /* Center align */
    display: flex;
    justify-content: flex-start; /* Align items to the start (left) */
    align-items: center;
}

/* Logo styles */
.logo img {
    height: 60px; /* Adjust height of the logo */
    /* Optional: Add margin or padding */
}



/* Banner text styles */
.banner-text h1 {
    font-family: 'Varela Round', sans-serif; /* Font family */
    font-size: 28px; /* Font size */
    color: black; /* HSL color value */
    font-weight: 300; /* Adjust font weight for lighter text */
    /* Additional styles */
}

/* Main styles */
main {
    padding: 20px; /* Padding around the main content */
    
    
}


/* Section styles */
section {
    background-color: #fff; /* Background color for sections */
    margin-bottom: 20px; /* Bottom margin between sections */
    padding: 20px; /* Padding inside sections */
    border-radius: 8px; /* Rounded corners for sections */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for sections */
}

/* Heading styles */
h2 {
    font-size: 24px; /* Font size for section headings */
    color: #333; /* Text color for headings */
}

/* Paragraph styles */
p {
    font-size: 16px; /* Font size for paragraphs */
    color: #666; /* Text color for paragraphs */
}
